<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="naddateam.truform" >

    <!-- <uses-sdk android:minSdkVersion="8"  android:targetSdkVersion="19" /> -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <permission
        android:name="android.permission.BLUETOOTH"
        android:label="BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >

        <!-- android:theme="@style/AppTheme" > -->

        <activity
            android:name=".GUI.GUI.Drawer"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <!--
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity" >


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        -->
        <activity
            android:name=".functionality.Bluetooth"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".GUI.GUI.SettingsItems.CalibrationsNav"
            android:label="@string/title_activity_calibrations" >
        </activity>
        <activity
            android:name=".GUI.GUI.workouts.Workout1"
            android:label="@string/title_activity_workout1" >
        </activity>
        <activity
            android:name=".GUI.GUI.workouts.Workout0"
            android:label="@string/title_activity_workout0" >
        </activity>
        <activity
            android:name=".GUI.GUI.workouts.Workout2"
            android:label="@string/title_activity_workout2" >
        </activity>
        <activity
            android:name=".GUI.GUI.workouts.Workout3"
            android:label="@string/title_activity_workout3" >
        </activity>
        <activity
            android:name=".GUI.GUI.workouts.Workout4"
            android:label="@string/title_activity_workout4" >
        </activity>
        <activity
            android:name=".GUI.GUI.workouts.Workout5"
            android:label="@string/title_activity_workout5" >
        </activity>
        <activity
            android:name=".GUI.GUI.workouts.Workout6"
            android:label="@string/title_activity_workout6" >
        </activity>
        <activity
            android:name=".GUI.GUI.BicepCurl"
            android:label="@string/title_activity_bicep_curl" >
        </activity>
    </application>

</manifest>
